.setting_page, .training_page, .result_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.training_page, .result_page {
    display: none
}

.setting_page > .setting {
    width: 100%;
    display: flex;
    gap: 20px;
}

.setting_page > .setting * {
    border: 0;
    flex: 1;
    height: 30px;
    font-size: 14px;
    color: var(--odd-level);
    background-color: var(--even-level);
}

.setting_page > button, .setting_page > a {
    width: 100%;
    height: 35px;
    border: 0;
    margin-top: 25px;
    font-size: 16px;
    color: var(--odd-level);
    background-color: var(--even-level);
}

.setting_page > a {
    line-height: 35px;
}

.setting_page > button:hover, .setting_page > a:hover {
    box-sizing: border-box;
    border: 4.5px var(--even-level) solid;
    color: var(--even-level);
    background-color: var(--odd-level);
}

.setting_page > a:hover {
    line-height: 26px;
}

.training_page .qus_con {
    font-size: 60px;
}

.training_page h1 {
    margin: 0;
}

.training_page .qus_con_opt {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.training_page .qus_con_opt > * {
    border: 0;
    font-size: 32px;
    color: var(--odd-level);
    background-color: var(--even-level);
}

.training_page .qus_con_opt > *:hover {
    border: 4.5px var(--even-level) solid;
    color: var(--even-level);
    background-color: var(--odd-level);
}

.training_page .qus_timeup_cont{
    margin-top: 30px;
    border: 0;
    width: 250px;
    height: 40px;
    font-size: 16px;
    color: var(--odd-level);
    background-color: var(--even-level);display: none;
}

.training_page .qus_timeup_cont:hover {
    color: var(--even-level);
    background-color: var(--odd-level);
}

.training_page .qus_timeup_cont:hover {
    box-sizing: border-box;
    border: 3.5px var(--even-level) solid;
    background-color: var(--hover);
}

.result_page hr {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: var(--even-level);
    color: var(--even-level);
}

.result_page > div {
    display: flex; 
    width: 100%;
}

.result_page > div > :nth-child(2) {
    flex: 1;
}

.result_page > button {
    width: 100%;
    height: 35px;
    border: 0;
    margin-top: 25px;
    font-size: 16px;
    color: var(--odd-level);
    background-color: var(--even-level);
}

.result_page > button:hover {
    box-sizing: border-box;
    border: 4.5px var(--even-level) solid;
    color: var(--even-level);
    background-color: var(--odd-level);
}

@media (max-width: 500px) {
    .setting_page > .setting {
        gap: 15px
    }
}